@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');
@tailwind utilities;
@tailwind components;
@tailwind base;

:root {
    font-family: 'Raleway', sans-serif;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
}
